root = "./"
thread = 1 
--logger = "./log/skynet.log"
logpath = "./log/"
harbor = 0
--address = "192.168.3.4:2526"--"127.0.0.1:2526"
--master = "127.0.0.1:2013"
start = "skynetmain"	-- main script
bootstrap = "snlua bootstrap"	-- The service for bootstrap
--standalone = "0.0.0.0:2013"

serverfiles = root.."../script/?.lua"

lua_path = root.."lualib/?.lua;"..serverfiles
lua_cpath = root.."luaclib/?.so"
luaservice = root.."service/?.lua;"..serverfiles
lualoader = root.."lualib/loader.lua"
snax = root.."service/?.lua;"
cpath = root.."cservice/?.so"

cluster = "../config/clustername.lua"
------------------------------------------------------------------------
------------------------------------------------------------------------
clusterKey = "mainlogic"
clusterPack = 1 	--1表示连接该节点的数据交互需要加密,0表示不加密

loggerpath = "../log/"

tcp_port = 11010	--若为nil，则表示当做一个cluster来用，否则绑定本地端口
max_client = 64
debug_port = 10086

--是否开启命令行输入窗口,一般用于gm管理服,从输入框输入的的数据，默认是通过cluster传给自己
--一般用于热更新、测试协议等等
open_console = 1 	


--preload = "./examples/preload.lua"	
	--run preload.lua before every lua service run
--snax_interface_g = "snax_g"
--daemon = "./skynet.pid"



